body {
    font-family: 'Yekan', 'Vazir_Light', sans-serif;
    background: #fafafa;
}

.gray-img {
    filter: grayscale(90%) !important;
}

.vazir-light {
    font-family: "Vazir_Light", sans-serif !important;
}

.vazir-medium {
    font-family: "Vazir_Medium", sans-serif !important;
}

.vazir-bold {
    font-family: "Vazir_Bold", sans-serif !important;
}

.wrapper {
    display: inline-flex;
    width: 100%;
    align-items: stretch;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* Sidebar CSS */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #FFDE03;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    height: 100%;
    z-index: 1;
}

#sidebar.active {
    margin-right: -250px;
}

#sidebar.mobile {
    z-index: 1111111 !important;
    position: fixed !important;
    height: 100% !important;
    transition: all 0.8s !important;
}

.brand-title h1 {
    margin-right: 15px;
    font-size: 39px;
    font-family: 'Vazir_Bold', sans-serif;
    margin-bottom: 20px;
    text-shadow: 0px 5px 10px RGBA(0, 0, 0, .39);
    padding: 10px 10px 0px 0px;
}

.account-title {
    margin: auto;
    padding: 10px;
    margin-bottom: 40px;
    display: inline-flex;
}

.account-title img {
    border-radius: 50%;
    border: 2px solid #D9D9D9;
    width: 70px;
    height: 70px;
}

.account-title-name {
    font-family: Vazir_Medium;
    font-size: 20px;
    color: #4F4F4F;
}

.account-title-grade {
    font-family: 'Vazir_light', sans-serif;
    font-size: 15px;
    color: #4F4F4F;
    margin-top: -15px;
}

.sidebar-menu {
    padding-right: 30px;
    margin-right: 1px;
    margin-left: 1px;
}

.sidebar-menu hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar-menu img {
    text-align: center;
    margin-right: 20px;
    width: 25px;
    height: 25px;
    margin-left: 12px;
    color: #4D4848;
}

.sidebar-menu a {
    text-align: center;
    font-size: 19px;
    font-family: 'Vazir_Bold';
    color: #4D4848
}

.sidebar-menu:hover a {
    font-size: 22px;
}

.active-menu {
    background-color: #fafafa;
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 1px;
    margin-left: 1px;
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 5px;
}

.footer img {
    margin-left: 8px;
    width: 22px;
    height: 22px;
}

/* Navbar CSS */

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-full-screen {
    width: 20px;
    height: 20px;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav li {
    margin-left: 20px;
}

.navbar-nav img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-mobile-view {
    display: none !important;
}

/* Wrapper content of page CSS */

#content {
    margin-right: 250px;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#content.active {
    margin-right: 0px;
}

/* Contact us popup */

.contact_us {
    position: fixed;
    bottom: 20px;
    direction: ltr;
    left: 40px;
    z-index: 100;
}

#contact_us_content {
    background-color: #FFCE00;
    border-radius: 6px;
    z-index: 1;
    display: none;
}

#contact_us_content p {
    font-family: 'Vazir_Bold';
    font-size: 20px;
}

#contact_us_content span {
    font-size: 18px;
}

/* loading page */
.loading-page {
    position: absolute;
    top: 45%;
    left: 38%;
    width: 80px;
    height: 80px;
}

/* Default spinner color */
.spinner-color {
    color: #FFCE00;
}


/* ---------------------------------------------------
    MEDIAQUERIES for when screen width is lower than 768 pixels
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-right: -250px;
        text-align: center;
        position: relative;
        height: inherit;
    }

    #sidebar.active {
        margin-left: 0;
        margin-right: 0;
        position: relative;
        height: inherit;
    }

    #sidebarCollapse span {
        display: none;
    }

    .navbar-nav li {
        margin-top: 20px;
    }

    #content {
        margin-right: 0px;
        height: inherit;
    }

    .footer {
        bottom: 10px;
        left: 5px;
        position: absolute;
    }

    #contact_us_img {
        width: 60px;
        height: 60px;
    }
}