
/* font css */

@font-face {
  font-family: 'Vazir_Light';
  src: url('../fonts/Vazir/Vazir-Light.woff2') format('woff2'),
         url('../fonts/Vazir/Vazir-Light.woff') format('woff'),
         url('../fonts/Vazir/Vazir-Light.ttf') format('truetype');
}


@font-face {
  font-family: 'Vazir_Bold';
  src: url('../fonts/Vazir/Vazir-Bold.woff2') format('woff2'),
         url('../fonts/Vazir/Vazir-Bold.woff') format('woff'),
         url('../fonts/Vazir/Vazir-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Vazir_Medium';
  src: url('../fonts/Vazir/Vazir-Medium.woff2') format('woff2'),
         url('../fonts/Vazir/Vazir-Medium.woff') format('woff'),
         url('../fonts/Vazir/Vazir-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Yekan';
  src: url('../fonts/Yekan/Yekan.woff') format('woff'),
         url('../fonts/Yekan/Yekan.ttf') format('ttf'),
         url('../fonts/Yekan/Yekan.eot') format('eot');
}
@font-face {
  font-family: 'Yekan-Number';
  src: url('../fonts/Yekan/Yekan-number.woff') format('woff'),
         url('../fonts/Yekan/Yekan-number.ttf') format('ttf'),
         url('../fonts/Yekan/Yekan-number.eot') format('eot');
}

@font-face {
  font-family: 'Dana_Regular';
  src: url('../fonts/Dana/dana-regular.woff') format('woff'),
         url('../fonts/Dana/dana-regular.woff2') format('woff2'),
         url('../fonts/Dana/dana-regular.eot') format('eot');
}

@font-face {
  font-family: 'Dana_Bold';
  src: url('../fonts/Dana/dana-bold.woff') format('woff'),
         url('../fonts/Dana/dana-bold.woff2') format('woff2'),
         url('../fonts/Dana/dana-regular.eot') format('eot');
}

@font-face {
  font-family: 'Dana_Bold';
  src: url('../fonts/Dana/dana-bold.woff') format('woff'),
         url('../fonts/Dana/dana-bold.woff2') format('woff2'),
         url('../fonts/Dana/dana-regular.eot') format('eot');
}

@font-face {
  font-family: 'Iransense';
  src: url('../fonts/Iransans/BRoya.woff') format('woff'),
         url('../fonts/Iransans/BRoya.eot') format('eot'),
         url('../fonts/Iransans/BRoya.ttf') format('ttf');
}


.vazir-bold {
    font-family: "Vazir_Bold" , sans-serif !important;
}

.vazir-medium {
    font-family: "Vazir_Medium" , sans-serif !important;
}

.vazir-light {
    font-family: "Vazir_light" , sans-serif !important;
}